@CHARSET "UTF-8";

/* universal */
html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 12px;
    font-weight: bold;
    line-height: 1;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

header {
    margin-top: -10px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

.jumbotron {
    background-image: url("");
}

.home .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.home .h2 {
    font-weight: normal;
}

.home .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 500px;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption .btn {
    margin-top: 10px;
}

/* forms */
.from-group {
    margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    padding: 10px;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
    margin-left: 20px;
}

footer ul {
    float: right;
    list-style: none;
    margin-right: 20px;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

#error_explanation {
    color: #f00;
}

.not_found {
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 10px;
    color: #4F5155;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

.not_found p {
    margin: 12px 15px 12px 15px;
}

.not_found h1 {
    letter-spacing: 0;
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
    text-align: left;
}

#news_list .created_at {
    border-bottom: solid 1px #999;
    color: #999;
}

#news_list h3 {
    letter-spacing: -1px;
    font: 20px Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#news_list .list-group-item-text {
    max-height: 35px;
    overflow: hidden;
}

#news_title h1 {
    clear: both;
    font: 25px Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0;
}

#news_title .right {
    text-align: right;
}